<!-- Footer -->

<footer class="white-section" id="footer">
  <div class="container-fluid">
    <a href="https://github.com/chris-678" target="_blank"><i class="social-icon fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/ahamefunachris/" target="_blank"><i class="social-icon fab fa-linkedin"></i></a>
    <a href="https://twitter.com/ChrisAham3" target="_blank"><i class="social-icon fab fa-twitter"></i></a>
    <a href="https://web.facebook.com/ahamefuna.izuchristian" target="_blank"><i class="social-icon fab fa-facebook-f"></i></a>

    <h6>Copyright ⓒ MustardSeed Technology Solutions</h6>
  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>
  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</footer>


</body>

</html>
