<%- include("partials/header"); -%>

<!-- <section class="colored-section" id="title"> -->
  <div class="container-fluid" id="title">
    <div class="row">

      <div class="col-lg-6">
        <h1 class="big-heading">I'm Izuchukwu AKA <i>mustardSeed</i>.</h1>
        <h2>A Web Developer and Serial Technopreneur</h2>
        <p class="description-p">
          Keen on building, shipping and creating innovative products, geared
          towards improving and simplifying life and businesses generally
        </p>
        <!-- <button class="download-button btn btn-lg brn-light" type="button">Contact Me</button> -->
        <!-- <button class="download-button btn btn-lg brn-light" type="button" href="/about">
          <a class="nav-link" href="/about">
            ABOUT ME
          </a>
        </button> -->
        <button class="download-button btn-lg brn-light" type="button">
          <a href="/about">
            About Me
          </a>
        </button>
      </div>

      <div class="col-lg-6">
        <img class="title-image" src="/images/mustardSeed2.jpg" alt="profile-img">
      </div>

    </div>

  </div>

<!-- </section> -->

<%- include("partials/footer"); -%>
