<%- include("partials/header"); -%>

<div style="max-width:900px;" class="container container2 emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="/images/mustardSeed1.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            IZUCHUKWU CHRISTIAN AHAMEFUNA O.
          </h5>
          <h6>
            Web Developer + Serial Technopreneur
          </h6>
          <p class="proile-rating"><span>A business man turned techy</span></p>
        </div>
      </div>
      <div class="col-md-2">
        <input type="button" class="" name="btnAddMore" value="PROFILE" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <p>SKILLS</p>
          <a>Web Developer</a><br />
          <a>UI/UX Designer</a><br />
          <a>Front-end Developer</a><br />
          <a>Backend Developer</a>
          <a>Freelancer</a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row bio">
              <h5>
                <p>
                  <i>Innovative, self motivated, task driven and highly talented professional keen on building, shipping and creating innovative products, geared towards improving and simplifying life and businesses generally.</i>
                </p>
                <p>
                  <i>Currently working with a NGO on an initiative that aims at building the IQ of children between the ages of
                    4yrs-17yrs through mentorship and programming.</i>
                </p>
                <p>
                  <i>Co-founded a business model in 2018, that aims at solving hardware cum software needs of businesses through strategic partnerships as well as quality goods and service delivery. (Made over 200k usd in sales in the past 3yrs.</i>
                </p>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<%- include("partials/footer"); -%>
